
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Json</title>
</head>
<body>
    <h2>API response</h2>

    <pre>@ViewBag.Json</pre>
</body>
</html>
